<link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">

<div class="row">
  <div class="col-xs-5">
    <table class="table">
      <thead>
      <tr>

        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor=" let name of names; let i= index">

        <td><a (click)="onSelectedPerson(i)" #person>{{name}}</a></td>

      </tr>

      </tbody>
    </table>
  </div>
  <div class="col-xs-7">
    <router-outlet></router-outlet>
  </div>
</div>
