
<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="login(f)"  #f="ngForm">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   ngModel
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   ngModel
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Login</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>
